#footer {
  box-sizing: content-box !important;
  background-color: black;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3%;
}
#footer .footer-copyright {
  color: #a5a5a5;
  font-size: 0.7rem;
  padding-top: 8px;
}
#footer .footer-socialMediaIcons {
  margin-top: 0.2%;
}
#footer .footer-socialMediaIcons .image-container {
  height: 28px;
  width: 28px;
  top: 0;
}
#footer .footer-socialMediaIcons .image-container img {
  width: inherit;
  height: inherit;
  margin-top: 0.5%;
  margin-right: 10px;
}
#footer .usefulLinks-outer {
  flex-direction: row;
  display: flex;
  font-weight: bold;
  font-size: 0.65rem;
  height: inherit;
  padding-top: 0;
}
#footer .footer-usefulLinks {
  list-style-type: none;
  padding: 0;
  padding-top: 10px;
  margin: 0;
}
#footer .footer-usefulLinks li {
  display: inline;
  padding: 0;
  margin: 0;
}
#footer .footer-usefulLinks li a {
  padding: 5px;
  color: white;
  text-decoration: none;
}
#footer .footer-usefulLinks li a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 980px) {
  #footer {
    flex-direction: column;
    padding: 20px 0 !important;
  }
  #footer .footer-copyright,
  #footer .footer-socialMediaIcons,
  #footer .footer-usefulLinks,
  #footer .usefulLinks-outer {
    margin: 0 auto;
  }
  #footer .footer-usefulLinks {
    padding-top: 0;
  }
  #footer .footer-usefulLinks a {
    padding: 0 12px !important;
  }
  #footer .footer-copyright {
    order: 1;
    padding-bottom: 1%;
  }
}
@media screen and (max-width: 380px) {
  #footer {
    flex-direction: column;
  }
  #footer .footer-usefulLinks {
    flex-wrap: wrap;
    display: flex;
    padding: 10px 10px;
  }
  #footer .footer-usefulLinks li {
    flex: 0 0 50%;
  }
  #footer .footer-usefulLinks li:nth-of-type(odd) {
    text-align: right;
  }
}
