#footer {
  background-color: black;
  height: auto;
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3%;
}
#footer .footer-copyright {
  color: #a5a5a5;
  font-size: 0.7rem;
  padding-top: 8px;
}
#footer .footer-socialMediaIcons {
  margin-top: 0.2%;
}
#footer .footer-socialMediaIcons .image-container {
  height: 28px;
  width: 28px;
  top: 0;
}
#footer .footer-socialMediaIcons .image-container img {
  width: inherit;
  height: inherit;
  margin-top: 0.5%;
  margin-right: 10px;
}
#footer .usefulLinks-outer {
  flex-direction: row;
  display: flex;
  font-weight: bold;
  font-size: 0.65rem;
  height: inherit;
  padding-top: 0;
}
#footer .footer-usefulLinks {
  list-style-type: none;
  padding: 0;
  padding-top: 10px;
  margin: 0;
}
#footer .footer-usefulLinks li {
  display: inline;
  padding: 0;
  margin: 0;
}
#footer .footer-usefulLinks li a {
  padding: 5px;
  color: white;
  text-decoration: none;
}
#footer .footer-usefulLinks li a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 980px) {
  #footer {
    flex-direction: column;
    padding: 20px 0 !important;
  }
  #footer .footer-copyright,
  #footer .footer-socialMediaIcons,
  #footer .footer-usefulLinks,
  #footer .usefulLinks-outer {
    margin: 0 auto;
  }
  #footer .footer-usefulLinks {
    padding-top: 0;
  }
  #footer .footer-usefulLinks a {
    padding: 0 12px !important;
  }
  #footer .footer-copyright {
    order: 1;
    padding-bottom: 1%;
  }
}
@media screen and (max-width: 380px) {
  #footer {
    flex-direction: column;
  }
  #footer .footer-usefulLinks {
    flex-wrap: wrap;
    display: flex;
    padding: 10px 10px;
  }
  #footer .footer-usefulLinks li {
    flex: 0 0 50%;
  }
  #footer .footer-usefulLinks li:nth-of-type(odd) {
    text-align: right;
  }
}
html {
  font-size: 20px;
}
body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
  width: 100%;
}
.NavDefault {
  box-sizing: border-box !important;
  max-width: 100%;
  width: 100%;
  height: 3.5rem;
  padding: 0px 1rem;
  background-color: #f9423a;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.LoginButtonDefault {
  font-weight: bolder;
  font-size: 0.65rem;
  width: 3.6rem;
  height: 1.9rem;
  background-color: #fff;
  color: #f9423a;
  padding: 0.35rem 1rem;
  line-height: 1.8;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
.LoginButtonDefault:hover {
  background-color: #2a2a2a;
  color: #fff;
}
.LogoDivDefault {
  height: 3.5rem;
  width: 5rem;
}
.LoginDivDefault {
  height: 3.5rem;
  width: 9rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.LogoFotoDefault {
  float: left;
  width: 5.1rem;
  height: 2.7rem;
  padding-top: 17px;
  cursor: pointer;
}
.NavT3nDefault {
  font-weight: 500;
  font-size: 0.8rem;
  display: block;
  color: #fff;
  width: 2.32rem;
  height: 1.2rem;
  margin-right: 1rem;
  text-decoration: none;
  position: relative;
}
.NavT3nDefault:after {
  content: '';
  position: absolute;
  border-bottom: 2px solid #fff;
  width: 2.4rem;
  top: 22px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.NavT3nDefault:hover:after {
  opacity: 1;
}
nav {
  box-sizing: border-box !important;
  max-width: 100%;
  width: 100%;
  height: 3.5rem;
  padding: 0px 1rem;
  background-color: #f9423a;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
#nav_logoDiv {
  height: 3.5rem;
  width: 5rem;
}
#nav_loginDiv {
  height: 3.5rem;
  width: 9rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#nav_loginDiv #nav_loginButton {
  font-weight: bolder;
  font-size: 0.65rem;
  width: 3.6rem;
  height: 1.9rem;
  background-color: #fff;
  color: #f9423a;
  padding: 0.35rem 1rem;
  line-height: 1.8;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
#nav_loginDiv #nav_loginButton:hover {
  background-color: #2a2a2a;
  color: #fff;
}
#nav_logoFoto {
  float: left;
  width: 5.1rem;
  height: 2.7rem;
  padding-top: 17px;
  cursor: pointer;
}
@media screen and (min-width: 200px) {
  #nav_t3n {
    display: none;
  }
}
@media screen and (min-width: 353px) {
  #nav_t3n {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  #nav_logoFoto {
    float: left;
    width: 5.1rem;
    height: 2.7rem;
    padding-top: 17px;
    cursor: pointer;
    height: 2.8rem;
    width: 5.8rem;
    padding-top: 15px;
  }
  #nav_t3n {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  #nav_logoFoto {
    width: 7.5rem;
    height: 3rem;
    padding-top: 9px;
  }
  #nav_t3n {
    display: none;
  }
}
@media screen and (min-width: 981px) {
  nav {
    padding: 0px 2.5rem;
  }
  #nav_logoFoto {
    width: 7.5rem;
    height: 3rem;
    padding-top: 9px;
  }
  #nav_t3n {
    font-weight: 500;
    font-size: 0.8rem;
    display: block;
    color: #fff;
    width: 2.32rem;
    height: 1.2rem;
    margin-right: 1rem;
    text-decoration: none;
    position: relative;
  }
  #nav_t3n:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #fff;
    width: 2.4rem;
    top: 22px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  #nav_t3n:hover:after {
    opacity: 1;
  }
}
* {
  box-sizing: content-box;
}
html {
  font-size: 20px;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-size: 1rem;
  background-color: #ebebeb;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  flex-grow: 1;
  width: 100%;
}
form {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 30px 20px 50px 30px;
  margin-bottom: auto;
}
form h1 {
  margin: 10px 0 0;
  padding: 0;
  font-size: 1.2rem;
}
form p {
  margin: 0;
  font-size: 0.9rem;
  display: inline;
  padding-bottom: 10px;
}
form p a {
  display: inline;
  color: black;
  text-decoration: underline black thin;
}
form label {
  font-size: 0.9rem;
}
form input {
  padding-left: 10px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #707070;
}
form div[state='active'] {
  display: block;
}
form div[state='inactive'] {
  display: none;
}
form .input-cancel {
  position: relative;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
form .input-cancel div {
  width: 15px;
  height: 15px;
  background-image: url('../foto/svg/cross.svg');
  background-size: contain;
}
form .disclaimer {
  margin: 35px 0 20px;
  color: #707070;
  font-size: 0.7rem;
}
form button {
  width: 100%;
  height: 38px;
  background-color: grey;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 0.7rem;
  margin-bottom: 20px;
  cursor: not-allowed;
}
form button[isFree='true']:hover {
  background-color: red;
}
form .g-recaptcha {
  margin-top: 20px;
}
.preFooter {
  background-color: black;
  width: inherit;
  height: 50px;
  text-align: center;
  color: #707070;
  border-bottom: 0.5px solid #707070;
  font-size: 1rem;
  font-weight: 700;
  padding: 30px 0 10px;
  margin-top: auto;
}
@media screen and (min-width: 480px) {
  form {
    max-width: 290px;
    margin: 20px auto;
    padding: 20px 50px;
  }
  form input {
    padding-right: 50px;
    background-color: orange;
  }
  form * {
    display: block;
  }
  form h1 {
    font-size: 1.5rem;
  }
  form button {
    width: 35%;
  }
  form .input-cancel {
    top: -35px;
    left: 250px;
    position: relative;
  }
  form .input-cancel div {
    position: absolute;
    top: 7.5px;
    right: 7px;
  }
}
