@import "footer.less";
@import "nav.less";

#nav_loginButton {
    display: none;

}
input::-ms-clear,input::-ms-reveal{
    display: none;
}


nav {
    #nav_logoDiv {
        height: inherit;
    }

    #nav_logoFoto {
        padding-top: 8px;
    }
}

html {
    font-size: 18px;
    height: 100%;
    // width: -webkit-fill-available;
    width: fit-content;
}

div#password.active {
    span.containing {
        background-image: url('../foto/svg/eye_black.svg');
    }

    span.clearText.containing {
        background-image: url('../foto/svg/eye_stroked_black.svg');
    }
}

div#password.inactive {
    span.containing {
        background-image: url('../foto/svg/eye_visible.svg');
    }

    span.clearText.containing {
        background-image: url('../foto/svg/eye_notVisible.svg');
    }
}

nav {
    div#nav_loginDiv {
        display: none;
    }
}

body {
    flex-grow: 1;
    margin: 0;
    font-size: 1rem;
    background-color: rgb(235, 235, 235);
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}

#container {
    box-sizing: content-box !important;
    margin: auto;
    display: flex;
    flex-grow: 1;
}

form div.active {
    span.containing {
        display: inline-block;
        background-image: url('../foto/svg/cross.svg');
    }
}

.ghost {
    display: none;
}

.visible {
    color: red;
    font-size: .7rem;
    margin-top: 5px;
    // margin-top: -15px
}

.inactive {
    span.containing {
        background-image: url('../foto/svg/cross_grey.svg');
        display: inline-block;
    }
}

form {
    div p {
        margin-top: 0;
    }

    * {
        box-sizing: content-box !important;
    }

    background-color: white;
    display: flex;
    flex-flow: column;
    padding: 70px 20px 20px 30px;
    height: inherit;

    div {
        display: flex;
        flex-direction: column;

        position: relative;
    }

    h1 {
        margin: 10px 0 0;
        padding: 0;
        font-size: 1.2rem;
    }

    p {
        margin: 0;
        font-size: .9rem;
        display: inline;
        padding-bottom: 10px;

        a {
            display: inline;
            color: black;
            text-decoration: underline black;
        }
    }

    label {
        font-size: .9rem;
        margin-top: 20px;
    }

    .error {
        border-color: red;
        margin-top: 0;
        padding-top: 0;
    }

    input {
        padding-right: 30px;
        padding-left: 10px;
        min-height: 40px;
        border-radius: 5px;
        border: 1px solid rgb(112, 112, 112);
        font-size: 1.1rem;
    }

    span {
        position: absolute;
        top: 55px;
        left: 93%;
        width: 15px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: -20px;
        display: none;
    }

    .disclaimer {
        margin: 35px 0 20px;
        color: rgb(112, 112, 112);
        font-size: .7rem;
    }

    button {
        width: inherit;
        height: 38px;
        background-color: grey;
        color: white;
        border-radius: 5px;
        border: none;
        font-size: .7rem;
        margin-bottom: 20px;
        cursor: not-allowed;
    }

    button[isFree='true']:hover {
        background-color: red;
    }

    .g-recaptcha {
        margin-top: 20px;
    }
}

.preFooter {
    box-sizing: content-box;
    background-color: black;
    text-align: center;
    color: rgb(112, 112, 112);
    border-bottom: .5px solid rgb(112, 112, 112);
    font-size: .9rem;
    font-weight: 700;
    padding: 20px 0px 20px;
    display: flex;
    justify-content: center;

    p {
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 480px) {
    // @supports (-ms-accelerator: true){

    html {
        height: 100%;
        width: unset;
    }

    body {
        display: flex;
        padding-top: 65px;
        height: -webkit-fill-available;
    }

    .container {

        margin: auto;
        flex-grow: 0;
    }

    form {
        max-width: 290px;
        padding: 30px 60px 15px;
        justify-content: center;
        margin: auto;

        input {
            padding-right: 50px;
            margin-top: 6px;
        }

        h1 {
            font-size: 1.5rem;
        }

        button {
            width: 35%;
        }

        span {
            position: relative;
            top: -29px;
            left: 267px;

            div {
                position: absolute;
                top: 7.5px;
                right: 7px;
            }
        }

        .preFooter {
            margin-top: 20px;
            align-self: flex-end;
        }
    }

    // }
}

@media screen and (min-width:740px) {
    form {
        h1 {
            font-size: 1.7rem;
        }
    }
}