@import "footer.less";

* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    width: 100%;
}

@red-color : #f9423a;
@font-gray-color : rgb(155, 155, 155);
@white-color : #fff;
@balck-color : #2a2a2a;
@nav-height : 3.5rem;
@gray-color : #f4f4f4;
@lightGrey: lightgrey;
@white: white;

.PioneersDivDefault {
    // Pioneers Div
    background-color: @red-color;
    max-width: 100%;
    margin-top: 68px;
    background-image: url(https://storage.googleapis.com/t3n-de/pioneers/4e6400c95fea8c09e98157eaa11109062ab7fc18/t3n_pn_hero_transparent_B.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;

    h1 {
        position: relative;
        margin: 0;
        color: @white-color;
        text-decoration: underline;
        text-decoration-color: @balck-color;
        line-height: 1.8;
        font-weight: bold;
    }

    h2 {
        margin: 0;
        margin-bottom: 1rem;
        color: @white-color;
    }
}

.PioneersButtonDefault {
    // Jetzt kostenlos anmelden Button
    font-weight: bolder;
    color: @balck-color;
    font-size: 0.8rem;
    width: 9.2rem;
    height: 1.2rem;
    padding: 0.35rem 0.75rem;
    background-color: @white-color;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .1s ease-in-out;

    &:hover {
        background-color: @balck-color;
        color: @white-color;
    }
}

.sliderDivDefault {
    max-width: 100%;
    background-color: @white-color;
    text-align: center;
    h2 {
        margin-top: 0;
    }

    #sliderDiv {
        position: relative;
        max-width: 65.5rem;
        margin: 0px auto;
        .sliderButton {
            width: 4rem;
            height: 4rem;
            padding: 0.65rem;
            border: none;
            background-color: @gray-color;
            border-radius: 50%;
            outline: none;
            transition: all 150ms ease-in-out;
            &:hover {
                background-color: @balck-color;
            }
        }
        #leftBtn {
            position: absolute;
            top: 13px;
            left: 0px;
            background-image: url(../foto/svg/left-arrow-gray.svg);
            background-size: 25px 25px;
            background-repeat: no-repeat;
            background-position: center;
            &:hover {
                background-image: url(../foto/svg/left-arrow-white.svg);
                transform: translateX(-2px);   
            }
            &:focus {
                &:not(:hover) {
                    width: 95px;
                    height: 95px;
                    background-color: @balck-color;
                    background-image: url(../foto/svg/left-arrow-white.svg);
                    transform: translateX(-10px);
                }
            }
        }
        #rightBtn {
            position: absolute;
            top: 13px;
            right: 0px;
            background-image: url(../foto/svg/right-arrow-gray.svg);
            background-size: 25px 25px;
            background-repeat: no-repeat;
            background-position: center;
            &:hover {
                background-image: url(../foto/svg/right-arrow-white.svg);
                transform: translateX(2px);
            }
            &:focus {
                &:not(:hover) {
                    width: 95px;
                    height: 95px;
                    background-color: @balck-color;
                    background-image: url(../foto/svg/right-arrow-white.svg);
                    transform: translateX(10px);
                }
            }
        }
    }
}

.sliderDefault {
    height: 100%;
    background-color: @white-color;
    overflow: hidden;
    margin-right: 3.9rem;
    margin-left: 3.9rem;
    >div {
        display: flex;
    }
    a {
        padding-top: 10px;
        text-align: left;
        height: 100%;
        text-decoration: none;
        display: inline-block;
        transition: all 100ms ease-in-out;
        &:hover {
            transform: translateY(-3px);
        }
    }

    img {
        border-radius: 50%;
        display: inline-block;
        width: 100%;
        height: auto;
    }

    h3 {
        margin: 0.5rem 0px 0px 0px;
        font-size: 0.7rem;
        color: @balck-color;
        font-weight: bolder;
    }

    p {
        font-weight: 500;
        margin: 0;
        padding: 0;
        color: @font-gray-color;
    }

    #companyImg {
        &:before {
            content: '';
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-right: 5px;
            background-image: url(../foto/svg/architecture-and-city.svg);
            background-size: 15px 15px;
            background-repeat: no-repeat;
        }
    }
}

/*************************
* Start CSS
**************************/
#pioneersDiv {
    .PioneersDivDefault
}

#pioneersButton {
    .PioneersButtonDefault;
}

#sliderDefaultDiv {
    .sliderDivDefault;
}

#slider {
    .sliderDefault;
}

@media screen and(min-width : 200px) {
    // Max Width 479px Media Query (Mobile Version)

    ////////// first Part /////////
    #pioneersDiv {
        height: 17.15rem;
        padding: 2.5rem 1rem;
        text-align: center;

        h1 {
            font-size: 1.6rem;
            padding: 0px 0px 1rem 0px;
        }

        h2 {
            font-size: 1rem;
        }
    }

    ///////////// Slider ///////////
    #sliderDefaultDiv {
        height: 16.7rem;
        padding: 2.5rem 1rem;
        text-align: left;

        h2 {
            margin-bottom: 0.9rem;
            font-size: 1.01rem;
            height: 2.4rem;
        }

        #sliderDiv {
            height: 9.3rem;
            #leftBtn {
                display: none;
            }
        }
    }

    #slider {
        margin-left: 0;
        .profilInfos {
            img {
                width: 3rem;
                height: 3rem;
            }

            p {
                font-size: 0.6rem;
            }

            #position {
                display: none;
            }
        }
    }
}

@media screen and(min-width : 353px) {
    // Min Width 353px Media Query(Mobile Version)

    ////////// first Part /////////
    #pioneersDiv {
        height: 14.15rem;
        padding: 2.5rem 1rem;
        text-align: center;

        h1 {
            font-size: 1.6rem;
        }

        h2 {
            font-size: 1rem;
        }
    }

    /////////// Slider //////////
    #sliderDefaultDiv {
        height: 16.8rem;

        h2 {
            height: 1.2rem;
        }

        #sliderDiv {
            height: 9.75rem;
        }
    }

    #slider {
        .profilInfos {
            img {
                width: 5.5rem;
                height: 5.5rem;
            }
            p {
                font-size: 0.7rem;
            }
        }
    }
}

@media screen and(min-width : 480px) {
    // Min Width 480px Media Query (Mobile Bigger Version)

    ////////// Pioneer ///////////
    #pioneersDiv {
        height: 21.45rem;

        h1 {
            font-size: 3.5rem;
            line-height: 1.4;
            padding-bottom: 2.5rem;
        }
    }

    ////////////// Slider /////////////
    #sliderDefaultDiv {
        height: 15.6rem;

        #sliderDiv {
            height: 8.55rem;
        }
    }
}

@media screen and(min-width : 723px) {

    //////////// Pioneer //////////
    #pioneersDiv {
        height: 18.45rem;

        h1 {
            padding-top: 1.6rem;
            padding-bottom: 2.1rem;
        }
    }

    ///////////// Slider //////////////
    #sliderDefaultDiv {
        height: 15.6rem;

        #sliderDiv {
            height: 8.55rem;
        }
    }
}

@media screen and(min-width : 769px) {
    // Min Width 769px Media Query (Tablet PC Version)

    ///////////// Pioneers Network Part //////////////
    #pioneersDiv {
        height: 21.4rem;

        h1 {
            padding-top: 2.5rem;
        }
    }

    ///////////// Slider //////////////////
    #sliderDefaultDiv {
        padding: 5rem 1rem;
        height: 21.8rem;
        text-align: center;

        #sliderDiv {
            height: 9.75rem;

            #slider {
                a {
                    text-align: center;
                    width: 10.8rem;
                }

                #position {
                    display: block
                }
            }
        }
    }
}

@media screen and(min-width : 981px) {
    // Min Width 981px Media Query (Desktop Version)

    /////////// Pioneers Network Part ////////////
    #pioneersDiv {
        height: 24.1rem;

        h2 {
            font-size: 1.7rem;
            margin-bottom: 2.5rem;
        }
    }

    ///////////// Slider //////////////////
    #sliderDefaultDiv {
        padding: 5rem 1rem;
        height: 24.45rem;
        text-align: center;
        h2 {
            font-size: 1.7rem;
            height: 2.2rem;
            margin-bottom: 2.5rem;
        }

        #sliderDiv {
            height: 9.75rem;
        }
    }
}

@media screen and(min-width : 1116px) {

    //////////// Slider /////////////
}

@media screen and(min-width :1370px) {
    #sliderDefaultDiv {
        #sliderDiv {
            #leftBtn {
                display: block;
            }
            #slider {
                margin-left: 3.9rem;
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////  %%KAI%%   //////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////// Become Pionier //////////////////////////////////////////////////

.becomePionier-outerSection {
    // width: 100%;
    background-color: @red-color;

    @supports not (background-blend-mode: 'multiply') {
        background-image: url(../media/t3n_Background_Texture_colored.png);
    }

    @supports (background-blend-mode: 'multiplay') {
        background-image: url(https://storage.googleapis.com/t3n-de/pioneers/28a287d4da97bf4bdc65935dcb96bcc29a05e33f/t3n_Background_Texture.gif);
        background-size: cover;
        background-position-x: center;
        background-blend-mode: multiply;
    }
}

#becomePionier {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 100px 20px 140px;
    max-width: 1100px;
    margin: 0 auto;

    .becomePionier-Heading {
        position: relative;
        display: flex;
        height: auto;
        flex-direction: column;
        line-height: 90px;

        span {
            position: absolute;
            font-weight: 800;
            margin: 0 0 5px 7px;
            font-size: 2.8rem;
            padding-top: 1px;
        }

        .heading-head {
            margin: 6px 0 5px;
            position: relative;
            font-size: 3.5rem;
            font-weight: 600;

            &:first-of-type {
                padding-left: 17px;

                &::after {
                    left: 0;
                    width: 61%;
                }
            }

            &:nth-of-type(2)::after {
                width: 95%;

            }

            &::after {
                position: absolute;
                width: inherit;
                height: 15px;
                background-color: black;
                content: ' ';
                width: 100%;
                display: block;
                top: 77px;
            }

        }
    }

    .becomePionier-textArea {
        margin: 60px 0 0 0;
        text-align: left;

        .textArea-heading {
            margin: 5% 0 0 0;
            padding: 0;
        }
    }

    .textArea-text {
        font-size: .7rem;
    }

    .textArea-button {
        margin: 50px 0;
        background-color: white;
        color: black;
        border-radius: 5px;
        border: none;
        width: 200px;
        font-size: .7rem;
        height: 35px;
        &:hover{
            background-color: rgb(56, 56, 56);
            color: white;
        }
    }
}

@media screen and (max-width: 980px) {
    #becomePionier {
        flex-direction: column;

        .becomePionier-Heading {
            margin-bottom: 30px;
            .heading-head {
                &:nth-of-type(1) {
                    &::after {
                        width: 170px;
                    }

                }

                &:nth-of-type(2) {
                    &::after {
                        width: 280px;
                    }
                }

                &:nth-of-type(3) {
                    &::after {
                        width: 290px;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 981px) {
    .becomePionier-textArea {
        width: 45%;
    }
}

@media screen and (max-width: 479px){
    #becomePionier{
        .becomePionier-Heading{
            line-height: 40px;
            span{
                font-size: 1.2rem;
                padding-top: 4px;
                margin-left: 4px;
            }
            .heading-head{
                font-size: 1.5rem;
                &:nth-of-type(1){
                    padding-left: 10px;
                    &::after{
                        width: 75px;
                    }
                }
                &:nth-of-type(2){
                    &::after{
                        width: 120px;
                    }
                }
                &:nth-of-type(3){
                    &::after{
                        width: 125px;
                    }
                }
                &::after{
                    top: 35px;
                    height: 8px;
                }
            }
        }
    }
}



////////////////////////////////////// FAQ /////////////////////////////////////////////////////////////

#faq {
    background-color: @lightGrey;
    margin: 0 auto;
    padding-bottom: 2%;

    .faq-heading {
        text-align: center;
        font-size: 2rem;
        padding: 45px 0 20px;
        margin: 0 auto 20px;
    }

    .faq-question {
        position: relative;
        background-color: @white-color;
        min-height: 70px;
        margin: 0 auto 20px;
        border-radius: 5px;

        &:hover {
            box-shadow: 5px 5px 10px 10px rgb(199, 199, 199);
            transition: transform 1s;
            transform: translateY(-3px);


        }

        &.open {
            height: fit-content;

            .question-answer {
                display: block;
            }

            .question-marker {

                svg {
                    transition: transform .3s;
                    transform: rotateZ(180deg);
                }
            }

            a {
                color: red;
                text-decoration-line: none;
            }
        }

        &.closing {
            svg {
                transition: transform .3s;
                transform: rotateZ(0deg);
            }
        }
    }

    .question-heading {
        font-size: 1.1rem;
        text-align: left;
        width: 95%;
        top: -3px;
        cursor: pointer;
        display: inline-block;
        margin: 0 auto 0 10px;
    }

    .question-answer {
        font-size: .7rem;
        display: none;
        padding: 0 15px 50px 10px;
    }

    .faq-questHeadContainer {
        position: relative;
        padding-top: 20px;
        display: flex;
        padding-bottom: 20px;
    }

    .question-marker {
        background-color: #e0e3f6;
        border-radius: 50%;
        display: inline-block;
        min-width: 35px;
        max-width: 35px;
        min-height: 35px;
        max-height: 35px;
        margin: auto;
        margin-right: 1%;
        margin-left: 1%;

        &:hover {
            svg {
                background-image: url(../foto/svg/triangle_hover.svg);
            }
        }

        svg {
            background-image: url(../foto/svg/triangle.svg);
            width: 20px;
            height: 20px;
            position: relative;
            top: 8px;
            left: 20%;

            path {
                fill: grey;

            }
        }

        &:hover {
            background-color: black;
        }
    }
}

button {
    display: block;
    border: 2px solid black;
    background-color: inherit;
    padding: 6px;
    margin: 0 auto 5% auto;

    &:hover {
        background-color: rgb(37, 37, 37);
        color: white;
        cursor: pointer;
    }
}

@media screen and (min-width: 1150px) {
    #faq {
        .faq-question {
            width: 1130px;
        }
    }
}

@media screen and (min-width: 981px) {
    .faq-question {
        width: 98%;
    }
}

@media screen and (max-width: 980px) {
    #faq {
        .faq-heading {
            margin-bottom: 0;
            font-size: 1rem;
        }

        .faq-question {
            width: 90%;
        }
    }
}

@media screen and (max-width: 769px) {
    .faq-heading {
        text-align: left !important;
        margin-left: 5% !important;
    }
}

