* {
  box-sizing: border-box;
}
html {
  font-size: 20px;
}
body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
  width: 100%;
}
.NavDefault {
  max-width: 100%;
  width: 100%;
  height: 3.5rem;
  padding: 0px 1rem;
  background-color: #f9423a;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.LoginButtonDefault {
  font-weight: bolder;
  font-size: 0.65rem;
  width: 3.6rem;
  height: 1.9rem;
  background-color: #fff;
  color: #f9423a;
  padding: 0.35rem 1rem;
  line-height: 1.8;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
.LoginButtonDefault:hover {
  background-color: #2a2a2a;
  color: #fff;
}
.LogoDivDefault {
  height: 3.5rem;
  width: 5rem;
}
.LoginDivDefault {
  height: 3.5rem;
  width: 9rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.LogoFotoDefault {
  float: left;
  width: 5.1rem;
  height: 2.7rem;
  padding-top: 17px;
  cursor: pointer;
}
.NavT3nDefault {
  font-weight: 500;
  font-size: 0.8rem;
  display: block;
  color: #fff;
  width: 2.32rem;
  height: 1.2rem;
  margin-right: 1rem;
  text-decoration: none;
  position: relative;
}
.NavT3nDefault:after {
  content: '';
  position: absolute;
  border-bottom: 2px solid #fff;
  width: 2.4rem;
  top: 22px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.NavT3nDefault:hover:after {
  opacity: 1;
}
.PioneersDivDefault {
  background-color: #f9423a;
  max-width: 100%;
  margin-top: 68px;
  background-image: url(https://storage.googleapis.com/t3n-de/pioneers/4e6400c95fea8c09e98157eaa11109062ab7fc18/t3n_pn_hero_transparent_B.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.PioneersDivDefault h1 {
  margin: 0;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #2a2a2a;
  line-height: 1.8;
  font-weight: bold;
}
.PioneersDivDefault h2 {
  margin: 0;
  margin-bottom: 1rem;
  color: #fff;
}
.PioneersButtonDefault {
  font-weight: bolder;
  color: #2a2a2a;
  font-size: 0.8rem;
  width: 9.2rem;
  height: 1.2rem;
  padding: 0.35rem 0.75rem;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
.PioneersButtonDefault:hover {
  background-color: #2a2a2a;
  color: #fff;
}
.sliderDivDefault {
  max-width: 100%;
  background-color: green;
  text-align: center;
}
.sliderDivDefault h2 {
  margin-top: 0;
}
.sliderDivDefault #sliderDiv {
  max-width: 65.5rem;
  margin: 0px auto;
  background-color: yellow;
}
.sliderDefault {
  height: 100%;
  background-color: cornflowerblue;
  display: flex;
  overflow: hidden;
  margin-right: 3.9rem;
  margin-left: 3.9rem;
}
.sliderDefault .profilInfos {
  align-items: center;
}
.sliderDefault a {
  text-align: left;
  height: 100%;
  text-decoration: none;
  display: inline-block;
}
.sliderDefault img {
  border-radius: 50%;
  display: inline-block;
  width: 100%;
  height: auto;
}
.sliderDefault h3 {
  margin: 0.5rem 0px 0px 0px;
  font-size: 0.7rem;
  color: #2a2a2a;
  font-weight: bolder;
}
.sliderDefault p {
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  color: lightgrey;
}
.sliderDefault #companyImg:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-image: url(../foto/svg/architecture-and-city.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
}
/*************************
* Start CSS
**************************/
nav {
  max-width: 100%;
  width: 100%;
  height: 3.5rem;
  padding: 0px 1rem;
  background-color: #f9423a;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
#logoDiv {
  height: 3.5rem;
  width: 5rem;
}
#loginDiv {
  height: 3.5rem;
  width: 9rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#loginDiv #loginButton {
  font-weight: bolder;
  font-size: 0.65rem;
  width: 3.6rem;
  height: 1.9rem;
  background-color: #fff;
  color: #f9423a;
  padding: 0.35rem 1rem;
  line-height: 1.8;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
#loginDiv #loginButton:hover {
  background-color: #2a2a2a;
  color: #fff;
}
#logoFoto {
  float: left;
  width: 5.1rem;
  height: 2.7rem;
  padding-top: 17px;
  cursor: pointer;
}
#pioneersDiv {
  background-color: #f9423a;
  max-width: 100%;
  margin-top: 68px;
  background-image: url(https://storage.googleapis.com/t3n-de/pioneers/4e6400c95fea8c09e98157eaa11109062ab7fc18/t3n_pn_hero_transparent_B.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
#pioneersDiv h1 {
  margin: 0;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #2a2a2a;
  line-height: 1.8;
  font-weight: bold;
}
#pioneersDiv h2 {
  margin: 0;
  margin-bottom: 1rem;
  color: #fff;
}
#pioneersButton {
  font-weight: bolder;
  color: #2a2a2a;
  font-size: 0.8rem;
  width: 9.2rem;
  height: 1.2rem;
  padding: 0.35rem 0.75rem;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
#pioneersButton:hover {
  background-color: #2a2a2a;
  color: #fff;
}
#sliderDefaultDiv {
  max-width: 100%;
  background-color: green;
  text-align: center;
}
#sliderDefaultDiv h2 {
  margin-top: 0;
}
#sliderDefaultDiv #sliderDiv {
  max-width: 65.5rem;
  margin: 0px auto;
  background-color: yellow;
}
#slider {
  height: 100%;
  background-color: cornflowerblue;
  display: flex;
  overflow: hidden;
  margin-right: 3.9rem;
  margin-left: 3.9rem;
}
#slider .profilInfos {
  align-items: center;
}
#slider a {
  text-align: left;
  height: 100%;
  text-decoration: none;
  display: inline-block;
}
#slider img {
  border-radius: 50%;
  display: inline-block;
  width: 100%;
  height: auto;
}
#slider h3 {
  margin: 0.5rem 0px 0px 0px;
  font-size: 0.7rem;
  color: #2a2a2a;
  font-weight: bolder;
}
#slider p {
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  color: lightgrey;
}
#slider #companyImg:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-image: url(../foto/svg/architecture-and-city.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 100px) {
  #navt3n {
    display: none;
  }
  #pioneersDiv {
    height: 17.15rem;
    padding: 2.5rem 1rem;
    text-align: center;
  }
  #pioneersDiv h1 {
    font-size: 1.6rem;
    padding: 0px 0px 1rem 0px;
  }
  #pioneersDiv h2 {
    font-size: 1rem;
  }
  #sliderDefaultDiv {
    height: 16.7rem;
    padding: 2.5rem 1rem;
    text-align: left;
  }
  #sliderDefaultDiv h2 {
    margin-bottom: 0.9rem;
    font-size: 1.01rem;
    height: 2.4rem;
  }
  #sliderDefaultDiv #sliderDiv {
    height: 9.3rem;
  }
  #slider {
    margin-left: 0px;
  }
  #slider .profilInfos a {
    width: 5.05rem;
  }
  #slider .profilInfos img {
    width: 3rem;
    height: 3rem;
  }
  #slider .profilInfos p {
    font-size: 0.6rem;
  }
  #slider .profilInfos #position {
    display: none;
  }
}
@media screen and (min-width: 353px) {
  #navt3n {
    display: none;
  }
  #pioneersDiv {
    height: 14.15rem;
    padding: 2.5rem 1rem;
    text-align: center;
  }
  #pioneersDiv h1 {
    font-size: 1.6rem;
  }
  #pioneersDiv h2 {
    font-size: 1rem;
  }
  #sliderDefaultDiv {
    height: 16.8rem;
  }
  #sliderDefaultDiv h2 {
    height: 1.2rem;
  }
  #sliderDefaultDiv #sliderDiv {
    height: 9.75rem;
  }
  #slider .profilInfos a {
    width: 6rem;
  }
  #slider .profilInfos img {
    width: 5.5rem;
    height: 5.5rem;
  }
}
@media screen and (min-width: 480px) {
  #logoFoto {
    float: left;
    width: 5.1rem;
    height: 2.7rem;
    padding-top: 17px;
    cursor: pointer;
    height: 2.8rem;
    width: 5.8rem;
    padding-top: 15px;
  }
  #navt3n {
    display: none;
  }
  #pioneersDiv {
    height: 21.45rem;
  }
  #pioneersDiv h1 {
    font-size: 3.5rem;
    line-height: 1.4;
    padding-bottom: 2.5rem;
  }
  #sliderDefaultDiv {
    height: 15.6rem;
  }
  #sliderDefaultDiv #sliderDiv {
    height: 8.55rem;
  }
  #sliderDefaultDiv #sliderDiv #slider a {
    width: 9.05rem;
  }
}
@media screen and (min-width: 723px) {
  #pioneersDiv {
    height: 18.45rem;
  }
  #pioneersDiv h1 {
    padding-top: 1.6rem;
    padding-bottom: 2.1rem;
  }
  #sliderDefaultDiv {
    height: 15.6rem;
  }
  #sliderDefaultDiv #sliderDiv {
    height: 8.55rem;
  }
  #sliderDefaultDiv #sliderDiv #slider a {
    width: 10.1rem;
  }
}
@media screen and (min-width: 769px) {
  #logoFoto {
    width: 7.5rem;
    height: 3rem;
    padding-top: 9px;
  }
  #navt3n {
    display: none;
  }
  #pioneersDiv {
    height: 21.4rem;
  }
  #pioneersDiv h1 {
    padding-top: 2.5rem;
  }
  #sliderDefaultDiv {
    padding: 5rem 1rem;
    height: 21.8rem;
    text-align: center;
  }
  #sliderDefaultDiv #sliderDiv {
    height: 9.75rem;
  }
  #sliderDefaultDiv #sliderDiv #slider a {
    text-align: center;
    width: 10.8rem;
  }
  #sliderDefaultDiv #sliderDiv #slider #position {
    display: block;
  }
}
@media screen and (min-width: 981px) {
  nav {
    padding: 0px 2.5rem;
  }
  #logoFoto {
    width: 7.5rem;
    height: 3rem;
    padding-top: 9px;
  }
  #navt3n {
    font-weight: 500;
    font-size: 0.8rem;
    display: block;
    color: #fff;
    width: 2.32rem;
    height: 1.2rem;
    margin-right: 1rem;
    text-decoration: none;
    position: relative;
  }
  #navt3n:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #fff;
    width: 2.4rem;
    top: 22px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  #navt3n:hover:after {
    opacity: 1;
  }
  #pioneersDiv {
    height: 24.1rem;
  }
  #pioneersDiv h2 {
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
  }
  #sliderDefaultDiv {
    padding: 5rem 1rem;
    height: 24.45rem;
    text-align: center;
  }
  #sliderDefaultDiv h2 {
    font-size: 1.7rem;
    height: 2.2rem;
    margin-bottom: 2.5rem;
  }
  #sliderDefaultDiv #sliderDiv {
    height: 9.75rem;
  }
}
<<<<<<< HEAD
@media screen and (min-width: 1116px) {
  #sliderDefaultDiv #sliderDiv #slider a {
    width: 10rem;
  }
}
@media screen and (min-width: 1370px) {
  #sliderDefaultDiv #sliderDiv #slider {
    margin-left: 3.9rem;
  }
  #sliderDefaultDiv #sliderDiv #slider a {
    width: 11.1rem;
  }
}
=======
.becomePionier-outerSection {
  background-image: url(https://storage.googleapis.com/t3n-de/pioneers/28a287d4da97bf4bdc65935dcb96bcc29a05e33f/t3n_Background_Texture.gif);
  background-size: cover;
  background-position-x: center;
  background-blend-mode: multiply;
  background-color: #f9423a;
  padding: 5% 2% 6% 2%;
}
@supports not (background-blend-mode: 'multiply') {
  .becomePionier-outerSection {
    background-image: url(../media/t3n_Background_Texture_colored.png);
  }
}
#becomePionier {
  color: white;
  display: flex;
  justify-content: space-between;
  min-width: 700px;
}
#becomePionier .becomePionier-Heading {
  position: relative;
  display: flex;
  height: auto;
  flex-direction: column;
  line-height: 75px;
  left: 200px;
}
#becomePionier .becomePionier-Heading span {
  margin: 0 0 5px;
  position: absolute !important;
  position: relative;
  font-size: 2.38rem;
  font-weight: 800;
  position: absolute;
  margin-left: 7px;
  padding-top: 1.8px;
  display: inline-block;
}
#becomePionier .becomePionier-Heading .heading-head {
  margin: 6px 0 5px;
  position: relative;
  font-size: 3rem;
  font-weight: 600;
}
#becomePionier .becomePionier-Heading .heading-head:first-of-type {
  margin-left: 17px;
}
#becomePionier .becomePionier-Heading .heading-head:first-of-type::after {
  left: -17px !important;
  width: 66% !important;
}
#becomePionier .becomePionier-Heading .heading-head:nth-of-type(2)::after {
  width: 95% !important;
}
#becomePionier .becomePionier-Heading .heading-head::after {
  position: absolute;
  width: inherit;
  height: 15px;
  background-color: black;
  content: ' ';
  width: 100%;
  display: block;
  top: 75px;
}
#becomePionier .becomePionier-textArea {
  width: 50%;
  padding-top: 2%;
  text-align: left;
}
#becomePionier .becomePionier-textArea .textArea-heading {
  margin: 5% 0 0 0;
  padding: 0;
}
#becomePionier .textArea-text {
  font-size: 0.7rem;
  padding-top: 10px;
}
#becomePionier .textArea-button {
  margin: 0;
  margin-top: 10%;
  background-color: white;
  color: black;
  border-radius: 2px;
  border: none;
}
@media screen and (min-width: 981px) {
}
>>>>>>> d3a2d89d66212bf4a99f36257781e77cbdaf9f30
#faq {
  background-color: lightgrey;
  margin: 0 auto;
  padding-bottom: 2%;
}
#faq .faq-heading {
  text-align: center;
  font-size: 2rem;
  padding: 45px 0 20px;
  margin: 0 auto 20px;
}
#faq .faq-question {
  position: relative;
  background-color: #fff;
  min-height: 70px;
  margin: 0 auto 20px;
  border-radius: 5px;
}
#faq .faq-question:hover {
  box-shadow: 5px 5px 10px 10px #c7c7c7;
  transition: transform 1s;
  transform: translateY(-3px);
}
#faq .faq-question.open {
  height: fit-content;
}
#faq .faq-question.open .question-answer {
  display: block;
}
#faq .faq-question.open .question-marker svg {
  transition: transform 0.3s;
  transform: rotateZ(180deg);
}
#faq .faq-question.open a {
  color: red;
  text-decoration-line: none;
}
#faq .faq-question.closing svg {
  transition: transform 0.3s;
  transform: rotateZ(0deg);
}
#faq .question-heading {
  font-size: 1.1rem;
  text-align: left;
  width: 95%;
  top: -3px;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto 0 10px;
}
#faq .question-answer {
  font-size: 0.7rem;
  display: none;
  padding: 0 15px 50px 10px;
}
#faq .faq-questHeadContainer {
  position: relative;
  padding-top: 20px;
  display: flex;
  padding-bottom: 20px;
}
#faq .question-marker {
  background-color: #e0e3f6;
  border-radius: 50%;
  display: inline-block;
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
  margin: auto;
  margin-right: 1%;
  margin-left: 1%;
}
#faq .question-marker:hover svg {
  background-image: url(../foto/svg/triangle_hover.svg);
}
#faq .question-marker svg {
  background-image: url(../foto/svg/triangle.svg);
  width: 20px;
  height: 20px;
  position: relative;
  top: 8px;
  left: 20%;
}
#faq .question-marker svg path {
  fill: grey;
}
#faq .question-marker:hover {
  background-color: black;
}
button {
  display: block;
  border: 2px solid black;
  background-color: inherit;
  padding: 6px;
  margin: 0 auto 5% auto;
}
button:hover {
  background-color: #252525;
  color: white;
  cursor: pointer;
}
@media screen and (min-width: 1150px) {
  #faq .faq-question {
    width: 1130px;
  }
}
@media screen and (min-width: 981px) {
  .faq-question {
    width: 98%;
  }
}
@media screen and (max-width: 980px) {
  #faq .faq-heading {
    margin-bottom: 0;
    font-size: 1rem;
  }
  #faq .faq-question {
    width: 90%;
  }
}
@media screen and (max-width: 769px) {
  .faq-heading {
    text-align: left !important;
    margin-left: 5% !important;
  }
}
#footer {
  background-color: black;
  height: auto;
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3%;
}
#footer .footer-copyright {
  color: #a5a5a5;
  font-size: 0.7rem;
  padding-top: 8px;
}
#footer .footer-socialMediaIcons {
  margin-top: 0.2%;
}
#footer .footer-socialMediaIcons img {
  height: 28px;
  width: auto;
  margin-top: 0.5%;
  margin-right: 10px;
}
#footer .usefulLinks-outer {
  flex-direction: row;
  display: flex;
  font-weight: bold;
  font-size: 0.65rem;
  height: inherit;
  padding-top: 0;
}
#footer .footer-usefulLinks {
  list-style-type: none;
  padding: 0;
  padding-top: 10px;
  margin: 0;
}
#footer .footer-usefulLinks li {
  display: inline;
  padding: 0;
  margin: 0;
}
#footer .footer-usefulLinks li a {
  padding: 5px;
  color: white;
  text-decoration: none;
}
#footer .footer-usefulLinks li a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 980px) {
  #footer {
    flex-direction: column;
    padding: 20px 0 !important;
  }
  #footer .footer-copyright,
  #footer .footer-socialMediaIcons,
  #footer .footer-usefulLinks,
  #footer .usefulLinks-outer {
    margin: 0 auto;
  }
  #footer .footer-usefulLinks {
    padding-top: 0;
  }
  #footer .footer-usefulLinks a {
    padding: 0 12px !important;
  }
  #footer .footer-copyright {
    order: 1;
    padding-bottom: 1%;
  }
}
@media screen and (max-width: 380px) {
  #footer {
    flex-direction: column;
  }
  #footer .footer-usefulLinks {
    flex-wrap: wrap;
    display: flex;
    padding: 10px 10px;
  }
  #footer .footer-usefulLinks li {
    flex: 0 0 50%;
  }
  #footer .footer-usefulLinks li:nth-of-type(odd) {
    text-align: right;
  }
}
