* {
  box-sizing: border-box;
}
.NavDefault {
  max-width: 100%;
  height: 3.5rem;
  padding: 0px 1rem;
  background-color: #f9423a;
  display: flex;
  justify-content: space-between;
}
.LoginButtonDefault {
  font-weight: bolder;
  font-size: 0.65rem;
  width: 3.6rem;
  height: 1.9rem;
  background-color: #fff;
  color: #f9423a;
  padding: 0.35rem 1rem;
  line-height: 1.8;
  border-radius: 4px;
  border: none;
  text-decoration-line: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
.LoginButtonDefault:hover {
  background-color: #2a2a2a;
  color: #fff;
}
.LogoDivDefault {
  height: 3.5rem;
  width: 5rem;
}
.LoginDivDefault {
  height: 3.5rem;
  width: 9rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.LogoFotoDefault {
  float: left;
  width: 5.1rem;
  height: 2.7rem;
  padding-top: 17px;
  cursor: pointer;
}
.NavT3nDefault {
  font-weight: 500;
  font-size: 0.8rem;
  display: block;
  color: #fff;
  width: 2.32rem;
  height: 1.2rem;
  margin-right: 1rem;
  text-decoration-line: none;
  position: relative;
}
.NavT3nDefault:after {
  content: '';
  position: absolute;
  border-bottom: 2px solid #fff;
  width: 2.4rem;
  top: 22px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.NavT3nDefault:hover:after {
  opacity: 1;
}
.PioneersDivDefault {
  background-color: #f9423a;
  max-width: 100%;
}
.PioneersDivDefault h1 {
  margin: 0;
  color: #fff;
  text-decoration-line: underline;
  text-decoration-color: #2a2a2a;
  line-height: 1.8;
}
.PioneersDivDefault h2 {
  margin: 0;
  color: #fff;
}
.PioneersButtonDefault {
  font-weight: bolder;
  color: #2a2a2a;
  font-size: 0.8rem;
  width: 9.2rem;
  height: 1.2rem;
  padding: 0.35rem 0.75rem;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  text-decoration-line: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
.PioneersButtonDefault:hover {
  background-color: #2a2a2a;
  color: #fff;
}
/*************************
* Start CSS
**************************/
html {
  font-size: 20px;
}
body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
  width: 100%;
}
nav {
  max-width: 100%;
  height: 3.5rem;
  padding: 0px 1rem;
  background-color: #f9423a;
  display: flex;
  justify-content: space-between;
}
#logoDiv {
  height: 3.5rem;
  width: 5rem;
}
#loginDiv {
  height: 3.5rem;
  width: 9rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#loginDiv #loginButton {
  font-weight: bolder;
  font-size: 0.65rem;
  width: 3.6rem;
  height: 1.9rem;
  background-color: #fff;
  color: #f9423a;
  padding: 0.35rem 1rem;
  line-height: 1.8;
  border-radius: 4px;
  border: none;
  text-decoration-line: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
#loginDiv #loginButton:hover {
  background-color: #2a2a2a;
  color: #fff;
}
#logoFoto {
  float: left;
  width: 5.1rem;
  height: 2.7rem;
  padding-top: 17px;
  cursor: pointer;
}
#pioneersDiv {
  background-color: #f9423a;
  max-width: 100%;
}
#pioneersDiv h1 {
  margin: 0;
  color: #fff;
  text-decoration-line: underline;
  text-decoration-color: #2a2a2a;
  line-height: 1.8;
}
#pioneersDiv h2 {
  margin: 0;
  color: #fff;
}
#pioneersButton {
  font-weight: bolder;
  color: #2a2a2a;
  font-size: 0.8rem;
  width: 9.2rem;
  height: 1.2rem;
  padding: 0.35rem 0.75rem;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  text-decoration-line: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
#pioneersButton:hover {
  background-color: #2a2a2a;
  color: #fff;
}
@media screen and (max-width: 352px) {
  #navt3n {
    display: none;
  }
  #pioneersDiv {
    background-color: #f9423a;
    max-width: 100%;
    height: 17.15rem;
    padding: 2.5rem 1rem;
    text-align: center;
  }
  #pioneersDiv h1 {
    margin: 0;
    color: #fff;
    text-decoration-line: underline;
    text-decoration-color: #2a2a2a;
    line-height: 1.8;
  }
  #pioneersDiv h2 {
    margin: 0;
    color: #fff;
  }
  #pioneersDiv h1 {
    font-size: 1.6rem;
    padding: 0px 0px 1rem 0px;
  }
  #pioneersDiv h2 {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 353px) {
  #navt3n {
    display: none;
  }
  #pioneersDiv {
    background-color: #f9423a;
    max-width: 100%;
    height: 14.15rem;
    padding: 2.5rem 1rem;
    text-align: center;
  }
  #pioneersDiv h1 {
    margin: 0;
    color: #fff;
    text-decoration-line: underline;
    text-decoration-color: #2a2a2a;
    line-height: 1.8;
  }
  #pioneersDiv h2 {
    margin: 0;
    color: #fff;
  }
  #pioneersDiv h1 {
    font-size: 1.6rem;
    padding: 0px 0px 1rem 0px;
  }
  #pioneersDiv h2 {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 480px) {
  #logoFoto {
    float: left;
    width: 5.1rem;
    height: 2.7rem;
    padding-top: 17px;
    cursor: pointer;
    height: 2.8rem;
    width: 5.8rem;
    padding-top: 15px;
  }
  #navt3n {
    display: none;
  }
}
@media screen and (min-width: 770px) {
  #logoFoto {
    width: 7.5rem;
    height: 3rem;
    padding-top: 9px;
  }
  #navt3n {
    display: none;
  }
}
@media screen and (min-width: 981px) {
  nav {
    padding: 0px 2.5rem;
  }
  #logoFoto {
    width: 7.5rem;
    height: 3rem;
    padding-top: 9px;
  }
  #navt3n {
    font-weight: 500;
    font-size: 0.8rem;
    display: block;
    color: #fff;
    width: 2.32rem;
    height: 1.2rem;
    margin-right: 1rem;
    text-decoration-line: none;
    position: relative;
  }
  #navt3n:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #fff;
    width: 2.4rem;
    top: 22px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  #navt3n:hover:after {
    opacity: 1;
  }
}
#faq {
  background-color: lightgrey;
  margin: 0 auto;
}
#faq .faq-heading {
  text-align: center;
  font-size: 2rem;
  padding: 2.5% 0;
}
#faq details {
  background-color: white;
  width: 60%;
  margin: 0 auto 20px ;
}
#faq details summary {
  font-size: 1.5rem;
  padding: 10px 0;
  font-weight: bold;
}
#faq details p {
  margin-bottom: 30px;
  padding: 10px 10px 40px 30px;
  font-size: 1.1rem;
}
#faq details:hover {
  margin-top: 10px;
}
#faq button {
  border: 2px solid black;
  background-color: inherit;
  padding: 6px;
  margin-left: auto;
  margin-left: 47.5%;
  margin-bottom: 5%;
}
#faq button:hover {
  background-color: #252525;
  color: white;
  cursor: pointer;
}
#footer {
  width: 100%;
  background-color: black;
  height: 30px;
  display: flex;
}
#footer .footer-copyright {
  color: white;
  margin-top: 0.5%;
  margin-left: 2%;
  margin-right: 20%;
  font-size: 0.5rem;
}
#footer .footer-socialMediaIcons {
  display: inline-block;
  height: 100%;
  margin: 0.25% 10% 0 12%;
}
#footer .footer-socialMediaIcons img {
  background-color: black;
  height: 70%;
  margin-right: 10px;
  display: inline-block;
}
#footer .footer-usefulLinks {
  height: 30px;
  margin: 0.1% 0 0 17%;
}
#footer .footer-usefulLinks a {
  font-size: 0.65rem;
  color: white;
  text-decoration: none;
  margin-right: 4%;
}
#footer .footer-usefulLinks a:hover {
  text-decoration: underline;
}
